<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640511759694-kk4aouojl5ud71vqco6bloem7o6ahut1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640511759694-kk4aouojl5ud71vqco6bloem7o6ahut1</string>
	<key>API_KEY</key>
	<string>AIzaSyCcuXwea9E5q5Ww7hrG2h39z8cCI-6Rysk</string>
	<key>GCM_SENDER_ID</key>
	<string>640511759694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.N0RM4L15T</string>
	<key>PROJECT_ID</key>
	<string>flashchat-9e309</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-9e309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640511759694:ios:b04be0fbd857c8d1</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-9e309.firebaseio.com</string>
</dict>
</plist>